.form-contact {
    margin-top: 20px;
    background-color: #247BA0;
    padding-bottom: 25px;
    border-radius: 0.5rem;
}

.form-contact-labels {
    font-size: 20px;
}

.form-contact-items {
    width: 900px;
}

.btn-submit {
    max-width: 100%;
    padding: 8px 16px;
    background-color: #ff7b01;
    font-family: "Cormorant Garamond", serif;
}

.form-contact .row h1 {
    font-family: "Libre Baskerville", serif;
}