.formBackground{
    background-color:  #247BA0;
}

.circle-left,
.circle-right{
    position: absolute;
    background-color:#ff7b01;
    height: 250px;
    width:250px;
    border-radius: 50%;
    margin-left: 800px;
    margin-top: 50px;
}

.circle-left{
    margin-right: 1700px;
}

.form{
    width: 800px;
    z-index: 1;
}

.buttonSignup{
    width: 500px;
    height: 55px;
    border-radius: 10px;
}

.form-control {
    background-color: #13293d;
    color: white;
    height: 60px;
    border-radius: 10px;
}

