.circle-left{
    margin-right: 1700px;
}

.form{
    width: 800px;
    z-index: 1;
}

.form-control {
    background-color: #13293d;
    color: white;
    height: 60px;
    border-radius: 10px;
}

.form-login {
    margin-top: 20px;
    background-color: #247BA0;
    padding-bottom: 25px;
    border-radius: 0.5rem;
}

.form-login-labels {
    font-size: 20px;
}

.form-login-items {
    width: 900px;
}

.btn-submit {
    max-width: 100%;
    padding: 8px 16px;
    background-color: #ff7b01;
}
.form-login .row h1{
    font-family: "Libre Baskerville", serif;
}

h5{
    font-family: "Cormorant Garamond", serif;
    margin: 0px;
}