.form-publishoffers {
    margin-top: 20px;
    background-color: #247BA0;
    padding-bottom: 25px;
    border-radius: 0.5rem;
}

.form-publishoffers-labels {
    font-size: 20px;
}

.form-publishoffers-items {
    width: 900px;
}

.btn-submit {
    background-color: #ff7b01;
    max-width: 100%;
    padding: 8px 16px;
    font-family: "Cormorant Garamond", serif;
}

h1{
    font-family: "Libre Baskerville", serif;
}

