.custom-text-left {
  text-align: left;
}


.background-squares {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}


.panel-body {
  width: 900px;
}

.form-registration {
  margin-top: 20px;
  background-color: #247BA0;
  padding-bottom: 25px;
  border-radius: 0.5rem;
}

.form-registration-labels {
  font-size: 20px;
}

.form-registration-items {
  width: 900px;
}

.btn-submit {
  max-width: 100%;
  padding: 8px 16px;
  background-color: #ff7b01;
  font-family: "Cormorant Garamond", serif;
}

h1{
  font-family: "Libre Baskerville", serif;
}