/*....................................................................header....................................................................*/
.imageLogo {
    height: auto;
    width: 70px;
}

body {
    background-color: #13293D;
    margin: 30px;
}

.center-button button {
    padding: 35px 70px;
}


.navbar-toggler-color {
    color: white;
    border-color: white;
    background-color: #ff7b01;
}

/*....................................................................Content....................................................................*/

.image {
    margin-top: 10px;
    background-image: url('/image/Front-page-image.png');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 350px;
    background-color: #247BA0;
}

.iconSearch {
    height: auto;
    width: 50px;
    margin-right: 20px;
}

.content {
    position: relative;
    background-color: #006494;
    /* height: 200px; */
    color: white;
}

.icon {
    height: auto;
    width: 20px;
}


.table {
    overflow-x: auto;
    border-width: 20px;
}

.title-table {
    margin: 0 auto;
    width: 100%;
}

.table tr {
    background-color: #006494;
    border-width: 3px;
    color: white;
}

.table td {
    border-width: 3px;
    padding: 8px;
}

/*....................................................................Bloc De Réassurance....................................................................*/

.iconPersonCheck,
.iconEuro,
.iconCar {
    height: 30px;
    width: 30px;
}

.container p {
    height: 72px;
    margin: 0;
}

/*....................................................................Footer....................................................................*/

.logoInstagram,
.logoFacebook,
.logoLinkedin {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}