/*....................................................................header....................................................................*/
.imageLogo {
    height: auto;
    width: 70px;
}

body {
    background-color: #13293D;
    margin: 30px;
}

.center-button button {
    padding: 35px 70px;
}


.navbar-toggler-color {
    color: white;
    border-color: white;
    background-color: #ff7b01;
}

.navbar-header h5 {
    font-family: "Cormorant Garamond", serif;
    margin: 0px;
    padding: auto;
    font-weight: bold;
}



/*....................................................................Content....................................................................*/

.image {
    margin-top: 10px;
    background-image: url('/image/Front-page-image.png');
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center top;
    height: 350px;
    background-color: #247BA0;
}

.iconSearch {
    height: auto;
    width: 50px;
    margin-right: 20px;
}

.content {
    position: relative;
    background-color: #006494;
    /* height: 200px; */
    color: white;
}
.navbar h5{
    font-family: "Cormorant Garamond", serif;
    margin: 0px;
}

input::placeholder{
    font-family: "Barlow Semi Condensed", sans-serif;
}

.icon {
    height: auto;
    width: 20px;
}


.table {
    overflow-x: auto;
    border-width: 20px;
}

.title-table {
    margin: 0 auto;
    width: 100%;
}

.table tr {
    background-color: #006494;
    border-width: 3px;
    color: white;
}

.table td {
    border-width: 3px;
    padding: 8px;
}

/*....................................................................Bloc De Réassurance....................................................................*/
.reassurance h5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}


.iconPersonCheck,
.iconEuro,
.iconCar {
    height: 30px;
    width: 30px;
}

.txt-colonne{
    font-family: "Domine", serif;
    font-size: 20px;
}

/*....................................................................Footer....................................................................*/

.logoInstagram,
.logoFacebook,
.logoLinkedin {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer  .row h5{
    font-family: "LIbre Baskerville", serif;
    font-size: 20px;
}

footer a{
    font-family: "Amiri", serif;
}