.form-cancel-pattern {
    margin-top: 20px;
    background-color: #ff7b01;
    padding-bottom: 25px;
    border-radius: 0.5rem;
}

.form-cancel-pattern-labels {
    font-size: 20px;
}

.form-cancel-pattern-items {
    width: 900px;
}

.btn-submit {
    max-width: 100%;
    padding: 8px 16px;
}